@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
  --yellow: rgb(241, 213, 56);
  --icon: .icon;
}
body {
  background: url("./icon.jpeg");
  height: 100vh;
  background-size: cover;
  backdrop-filter: blur(2px);
  padding: 0;
  margin: 0;
}

.header {
  padding: 6px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr repeat(4, 0.5fr);
  justify-items: center;
  gap: 10px;
  background-color: transparent;
}
.header > button {
  background-color: var(--yellow);
  border-radius: 1em;
  font-size: large;
  border-style: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
  height: 30px;
  width: 120px;
}
.logo {
  justify-self: center;
  align-self: center;
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: var(--yellow);
}

.hero {
  font-size: 45px;
  font-weight: bold;

  color: white;
}

.home-container {
  position: relative;
  background: rgb(204, 204, 204);
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-text::before {
  display: block;
  content: "Top 10 Italian Resturants- 2022 Contest Winner";
  color: var(--yellow);
  font-size: 20px;
}
.pizza-menu-container {
  border: 5px solid var(--yellow);
  border-radius: 1em;

  width: 600px;
  height: 800px;
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.pizza-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  border: 2px solid var(--yellow);
  color: white;
  font-size: 24px;
  backdrop-filter: blur(2px);
}
.pizza-menu-title {
  grid-area: 1 / 1 / 1 / 3;
  color: white;
  font-size: 30px;
}
.wine-menu-container {
  border: 5px solid var(--yellow);
  border-radius: 1em;
  width: 600px;
  height: 800px;
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.wine-menu-title {
  grid-area: 1 / 1 / 1 / 3;
  color: white;
  font-size: 30px;
}
.wine-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  border: 2px solid var(--yellow);
  color: white;
  font-size: 24px;
  backdrop-filter: blur(2px);
}
